/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.dark {
    background: #161d24;
    color: #ecf0f1;
}

body.dark .container {
    background: #34495e;
}

body.dark #addTaskButton {
    background: #16a085;
}

body.dark #addTaskButton:hover {
    background: #1abc9c;
}

body.dark #taskList li {
    background: #2a3441;
}

body.dark #taskList li:hover {
    background: #46566b;
}

.app-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

/* Input Section */
.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #141414;
    border-radius: 4px;
}

.todo-input button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #2863a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #112dcc;
}

/* Todo List */
#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #9ecbff;
}

#todo-list li button {
    background-color: #b62828;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#todo-list li button:hover {
    background-color: #c82333;
}

#addTaskButton {
    background: #8f04ec;
    transition: background 0.3s;
}

#addTaskButton:hover {
    background: #fc2525;
}